body{background-color: darkgray;background-image: url(../img/bg.jpg);background-size: cover;background-repeat:repeat no-repeat;background-position: center center;background-attachment: fixed;}
aside{position: fixed;left: 0;top:0;height: 100%;width: 50px;background-color: darkgray;padding-top: 6%;}
header{padding-top: 6%;}
main{padding-top: 10%;}
h1{margin: 0px;}
ul{list-style-type: none;padding: 0px;}

#m_siderbar{text-align: center;font-size: 18px;}
.m_siderbarsel{color: white;margin-bottom: 66px; }
.m_siderbarsel:hover{color: darkred;}

.container{padding-left: 50px;}

#time{font-size: 30px;}

#time span{display:inline-block;width: 65px;line-height: 68%;text-align: center;}
#time span b{display:inline-block;width:65px;border-top: 3px solid orange;font-size: 15px;}
