/*
* @Author: Jerry
* @Date:   2017-07-27 09:03:26
* @Last Modified by:   Jerry
* @Last Modified time: 2017-07-28 19:07:19
*/
a:link{color:gray;}
a:visited{color:gray;}
body{
	width:1080px;
	margin:0 auto;
}
#head{
	width:100%;
}
nav{
	width:100%;
	background-color:bisque;
	font-size:25px;
	word-spacing:5px;
}

@keyframes heada
{
from {opacity:0.1;}
to {opacity:1;}	
}

nav a{padding-left:10px;padding-right:10px;}
nav a:hover{
	background-color:rgb(250, 200, 60);
	animation:heada 1s;
}
nav a:link{
	text-decoration:none;
}

/*Welcome部分*/

#mid{
	height:230px;
	background-image:url(pic/title.jpg);
	margin:0px;
	padding:0px;
}

#mid p{
	font-family:Cursive;
	font-size:19px;
}

#midp1{
	text-indent:6em;
	animation: flo 5s;
	-moz-animation: flo 5s;	
	-webkit-animation: flo 5s;
	-o-animation: flo 5s;	
}
#midp2{
	text-indent:3em;
	animation: flo2 12s;
}

@keyframes flo
{
from {opacity:0;text-indent:0em;}
to {opacity:1;text-indent:6em;}
}

@keyframes flo2
{
from {opacity:0;text-indent:0em;}
to {opacity:1;text-indent:3em;}
}

/*头像*/

#protrial{
	position:relative;
	left:85%;
	top:-90px;
	width:100px;
	height:100px;
	border:6px solid antiquewhite;
	border-radius:100px;
	transition:opacity 0.5s;
	opacity:0.6;
}

#protrial:hover{
	opacity:1.0;
}

/*Picture Display*/

.after{
	position:relative;
	top:-20px;
	margin:0px;
	padding:0px;
	background-color:rgb(208, 208, 208);
	height:255px;
}

.after h3{
	border:1px solid white;
	text-indent:4em;
	text-shadow:1px 2px #000000;
}

.after h3 span{
	color:red;
}

.after > table{
	height:210px;
	margin:0 auto;
}

.after > table td{
	text-align:center;
	width:180px;
	transition:background-color 1s;
	background-color:rgb(208, 208, 208);
}


.after > table td:hover{
	background-color:darkgray;
}

.after a:link{
	text-decoration:none;
	font-size:20px;
	display:block;	/*块区域*/
}


.after img{
	border:5px solid antiquewhite;
	width:150px;
	height:150px;
}

/*文章区域*/
/*overflow*/
article{overflow:auto;display:block;margin:0px;border:0px;padding:0px;overflow-x:hidden;}
article h2{font-weight: bold;background:url(pic/h_line.jpg) repeat-x 20px center;}
article h2 span{color:darkred;background-color:white;padding-right:18px;}
article figure img{width:120px;height:120px;border: 6px solid antiquewhite;}
article li{height:30px;border-bottom: #CCC dotted 1px;}
article ul{padding:0px;}
article figure{margin:0px;}
.x{text-align: right;}
.artleft h3{display:block;}
.artleft{float:left; width:75%;padding-right:10px;border-right:10px dashed darkgray;}
.ap{margin-top:50px;}
.ap a{background-color:orange; border:2px solid orange;margin:auto;margin-left:80%;padding:3px;text-decoration:none;}
.line{background-color: rgb(230, 230, 230);}
.artright{float:right; width:20%;}
.artright span{color:red;font-style:italic;}
.artright a{text-align:left;display:block;text-decoration:none;}
.artright a:hover{text-decoration:underline;}
#t1{color:darkblue;background-color:white;padding-right:15px;}
#no1{list-style:square outside url(pic/no1.jpg);}
#no2{list-style:square outside url(pic/no2.jpg);}
#no3{list-style:square outside url(pic/no3.jpg);}
.righttitle{background:url(pic/h_line.jpg) repeat-x 10px center;}


footer{text-align:center;margin-top: 30px;}