/*
* @Author: Jerry
* @Date:   2017-08-11 12:53:45
* @Last Modified by:   Jerry
* @Last Modified time: 2017-08-13 19:11:50
*/


#m_quit{margin-top:8px;margin-bottom: 8px;font-weight:bold;}
#m_head{margin-bottom:0px;}
#m_cnav{border:1px solid darkgray;}
.m_navT{color: rgb(0, 0, 0); font-size: 15px;font-weight:bold;}
#m_map{padding: 0px;overflow:hidden;}
#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}