/*
* @Author: Jerry
* @Date:   2017-07-28 19:14:19
* @Last Modified by:   Jerry
* @Last Modified time: 2017-07-30 14:55:54
*/
body{width:1080px;margin:0px auto;background-color:black;}
/**/
#header nav{margin-left:10px;width:50%;line-height:50px; display:inline;text-align:center;font-size:30px;font-family:IMPACT;word-spacing:0.2em;transition:text-decoration 1s;}
#header nav a{color:black;}
#header nav a:link{text-decoration:none;}
#header nav a:hover{text-decoration:underline overline;color:darkorange;}
#header{border-bottom:10px solid darkorange;position:fixed;z-index:99;background-color:white;width:1080px;opacity:0.8;}
/**/
#virtual{height:119px;width:100%;}
/**/
#midarea h1{text-align:center;font-size:40px;font-family:impact;margin-bottom:0px;margin-top:0px;letter-spacing:6px;color:white;}
#midarea{background-color:black;height:310px;}
#midarea table{margin:0px auto;height:250px;text-align:center;}
#midarea table td{width:290px;}
#midarea img{transition:width 0.3s; width:200px;}
#img1{position:relative; animation: drop1 8s;transform:rotate(-8deg);border:3px solid antiquewhite;}
#img2{position:relative; animation: drop2 8s;border:3px solid antiquewhite;}
#img3{position:relative; animation: drop3 8s;transform:rotate(8deg);border:3px solid antiquewhite;}
#midarea img:hover{width:215px;}
@keyframes drop1
{
	0%{opacity:0; transform:rotate(30deg);left:400px;}
	33%{opacity:1; transform:rotate(-8deg);left:0px;}
	100%{}
}
@keyframes drop2
{
	0%{opacity:0; }
	27%{opacity:0; transform:rotate(90deg);top:-100px;}
	66%{opacity:1; transform:rotate(0deg);top:0px;}
	100%{opacity:1; }
}
@keyframes drop3
{
	0%{opacity:0; }
	33%{opacity:0; }
	60%{opacity:0; transform:rotate(-30deg);left:-400px;}
	100%{opacity:1; transform:rotate(8deg);left:0px;}
}
/**/
#downarea{border-top:10px dashed black;background-color:rgb(250, 250, 250);overflow:auto;padding-bottom:50px;}
#downarea article{float:left;border-right:1px dotted darkgray;max-width:70%;}
#downarea aside{float:right;max-width:30%;}
#downarea h2{color:darkred;font-family:impact;letter-spacing:3px;word-spacing: 20px;font-size:28px;text-indent:2em;background-image:url(pic/h_line.jpg);}
#downarea aside img{width:324px;}
#downarea aside a{text-decoration:none;color:black;}
#downarea aside a:hover{text-decoration: underline;}
#div1{width:750px;height:504px;background-image:url(piclib/worf.jfif);}
#div2{width:750px;height:504px;background-image:url(piclib/b1.jfif);}
#div3{width:750px;height:504px;background-image:url(piclib/b2.jfif);}
#div4{width:750px;height:504px;background-image:url(piclib/b3.jfif);}
.dis{width:749px;height:503px;color:white;opacity:0;transition:opacity 1s;}
.dis:hover{opacity:1;}
.dis2{color:black;}


footer{width:1080px;height:200px;background-color:rgb(240,240,240);}
footer form{border-left:2px solid gray;margin-left:10%;}
footer label{font-size:23px;}
.foo{margin-left: 30px;}
#email{width:300px;height:33px;border:0px;}
#submit{width:150px;height:33px;margin-left:0px;padding-left:0px;border:0px;background-color:black;color:white;}
.foo1{font-size:10px;}

/*
#overwin{position:fixed;right:0px;bottom:20px;width:300px;height:55px;background-color:gray;opacity:0.5;border:1px solid darkgray;}
#overwin img{width:300px;height:55px;}
*/